<div class="row">
    <div class="col s3"></div>
    <h5 class="card z-depth-3 col s12 center-align">Click the S'crepe button to scrape recipes and articles from Saveur</h5>
</div>

<div class="row">
    <div class="col s2"></div>
    <div class="container col s12">
        {{#each articles}}
            {{#unless saved}}
                <div class="article-div card-panel">
                    <img src="{{image}}" width="100px" data-src="{{image}}" class="img left">
                    <a href="https://www.saveur.com/{{link}}"><h5>{{title}}</h5></a>
                    <p>{{summary}}</p>
                    <button class="btn right save" type="submit" data-id="{{_id}}">Save</button>
                </div>
            {{/unless}}
        {{/each}}
    </div>
</div>

