<div class="row">
    <div class="col s12">
        <h5 class="card z-depth-3 col s12 center-align" id="headline">Click the S'crepe button to scrape recipes and articles from Saveur</h5>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="https://sweetsimplevegan.com/wp-content/uploads/2019/04/Close-Up-Classic-Rolled-Vegan-French-Crepes-Whipped-Cream-Chocolate-Sweet-Simple-Vegan-Freatured-Image.jpg"></div>
</div>

<div class="row">
    <div class="col s10 push-s1 article-container">
        {{#each articles}}
            {{#unless saved}}
                <div class="article-div card-panel">
                    <div class="card-title">
                        <img src="{{image}}" width="100px" height="75px" data-src="{{image}}" class="img">
                        <a href="{{link}}"><h5 class="article-title">{{title}}</h5></a>
                    </div>
                    <br>
                    <div class="card-content">
                        <p>{{summary}}</p>
                    </div>
                    <div class="card-action">
                        <button class="btn right save" type="submit" data-id="{{_id}}">Save</button>
                    </div>
                </div>
            {{/unless}}
        {{/each}}
    </div>
</div>

