<div class="row">
    <div class="col s12">
        <h5 class="card z-depth-3 col s12 center-align" id="headline">Your Saved Articles</h5>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="https://anaffairfromtheheart.com/wp-content/uploads/2016/06/Sweet-Crepes-with-Summer-Fruits3-720x540.jpg"></div>
</div>


<div class="row">
    <div class="col s10 push-s1 article-container">
        {{#if articles}}
            {{#each articles}}
                {{#if saved}}
                    <div class="article-div card-panel">
                        <div class="card-title">
                            <img src="{{image}}" width="100px" height="75px" data-src="{{image}}" class="img">
                            <a href="{{link}}" target="_blank"><h4 class="article-title">{{title}}</h4></a>
                        </div>
                        <div class="card-content">
                            <p>{{summary}}</p>
                        </div>
                        <div class="card-action">
                            <button data-target="note-modal" class="btn right notes modal-trigger" type="submit" data-id="{{_id}}">Notes</button>
                            <button class="btn right remove" type="submit" data-id="{{_id}}">Remove</button>
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        {{/if}}
    </div>
</div>

{{> modal }}