<div class="row">
    <div class="col s12">
        <h5 class="card z-depth-3 col s12 center-align" id="headline">Your Saved Articles</h5>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="https://anaffairfromtheheart.com/wp-content/uploads/2016/06/Sweet-Crepes-with-Summer-Fruits3-720x540.jpg"></div>
</div>

<div class="row">
    <div class="col s10 push-s1 article-container">
        {{#if articles}}
            {{#each articles}}
                {{#if saved}}
                    <div class="article-div card-panel">
                        <img src="{{image}}" width="100px" data-src="{{image}}" class="img left">
                        <a href="https://www.saveur.com/{{link}}"><h5>{{title}}</h5></a>
                        <p>{{summary}}</p>
                        <button data-target="modal1" class="btn right notes modal-trigger" type="submit" data-id="{{_id}}">Notes</button>
                        <button class="btn right remove" type="submit" data-id="{{_id}}">Remove</button>
                    </div>
                {{/if}}
            {{/each}}
        {{/if}}
    </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Add A Note</h4>
        </div>
        <div class="modal-body">
            <div class="input-field col s6">
                <input id="title" type="text" class="validate new-note">
                <label for="title">Title</label>
            </div>
            <div class="input-field col s6">
                <textarea id="body" type="text" class="validate new-note materialize-textarea"></textarea>
                <label for="body">Note Body</label>
            </div>
            <div class="note-div"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" id="save-note">Save Note</button>
        <a href="#!" class="modal-close waves-effect waves-green btn">&times;</a>
    </div>
</div>